<div class="stack">
    <div class="header">
        <img class="avatar" src="/assets/avatar.png" alt="Rikin Marfatia">
        <h1>I'm <strong>Rikin</strong></h1>
        <p>Android Freelancer and Indie Developer</p>
        <div class="links">
            <a href="#">
                <img src="/assets/ic_twitter.svg" alt="Twitter">
            </a>
            <a href="#">
                <img src="/assets/ic_youtube.svg" alt="Youtube">
            </a>
            <a href="#">
                <img src="/assets/ic_github.svg" alt="Github">
            </a>
        </div>
    </div>
    <div class="apps">

    </div>
    <div class="work">

    </div>
    <div class="talks">

    </div>
</div>
