<div class="stack">
    <div class="header">
        <img class="avatar" src="/assets/avatar.png" alt="Rikin Marfatia">
        <h1>I'm <strong>Rikin</strong></h1>
        <p>Android Freelancer and Indie Developer</p>
        <div class="links">
            <a href="https://twitter.com/heyrikin">
                <img src="/assets/ic_twitter.svg" alt="Twitter">
            </a>
            <a href="https://www.youtube.com/@rikinmarfatia">
                <img src="/assets/ic_youtube.svg" alt="Youtube">
            </a>
            <a href="https://github.com/Rahkeen">
                <img src="/assets/ic_github.svg" alt="Github">
            </a>
        </div>
    </div>
    <div class="apps">
        <h2 class="section-header"><strong>Apps</strong> I've built</h2>
        <a href="https://www.hydrohomie.co/">
            <div class="app-row">
                <img class="app-icon" src="/assets/hh-icon.png" alt="Hydro Homie">
                <div class="row-content">
                    <p class="title">Hydro Homie</p>
                    <p class="subtitle">Track your water</p>
                </div>
            </div>
        </a>
        <a href="https://play.google.com/store/apps/details?id=com.rikin.cinco">
            <div class="app-row">
                <img class="app-icon" src="/assets/cinco-icon.png" alt="Cinco">
                <div class="row-content">
                    <p class="title">Cinco</p>
                    <p class="subtitle">Wordle training tool</p>
                </div>
            </div>
        </a>
    </div>
    <div class="work">
        <h2 class="section-header"><strong>Places</strong> I've worked</h2>
        <div class="row-content">
            <p class="title">Pinterest</p>
            <p class="subtitle">2018 - 2023</p>
        </div>
        <div class="row-content">
            <p class="title">Peloton</p>
            <p class="subtitle">2016 - 2018</p>
        </div>
    </div>
    <div class="talks">
        <h2 class="section-header"><strong>Talks</strong> I've given</h2>
        <a href="https://www.droidcon.com/2022/06/28/state-machines-and-hopeful-dreams/">
            <div class="row-content">
                <p class="title">State Machines and Hopeful Dreams</p>
                <p class="subtitle">2022 - droidconSF</p>
            </div>
        </a>
        <a href="https://www.youtube.com/watch?v=cKfTx3AxChA">
            <div class="row-content">
                <p class="title">Preview Driven Development</p>
                <p class="subtitle">2021 - Android Worldwide</p>
            </div>
        </a>
    </div>
    <div class="footer">
        <p class="email">Need help with an app? <a href="mailto:me@rikin.co?subject=App%20inquiry" class="lead">Let's talk</a></p>
    </div>
</div>
